.text1 {
  animation: scroll-text 5s linear infinite;
}
@keyframes scroll-text {
  0% {
    transform: translateX(0); /* Начало движения */
  }
  100% {
    transform: translateX(-100%); /* Уход всей строки */
  }
}
.stars {
  animation: stars 4.5s linear infinite;
}

@keyframes stars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.stars:hover {
  animation-play-state: paused;
}

.zuk1 {
  animation: zuki1 2s ease-in-out infinite;
}

@keyframes zuki1 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.zuk2 {
  animation: zuki2 0.5s ease-in-out infinite;
}
@keyframes zuki2 {
  0%,
  100% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.zuk3 {
  animation: zuki3 2s ease-in-out infinite;
}
@keyframes zuki3 {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5vw);
  }
  50% {
    transform: translateX(5vw);
  }
  75% {
    transform: translateX(-5vw);
  }
}
.zuki1:hover,
.zuki2:hover,
.zuki3:hover {
  animation: paused;
}
/* 3 box */

.gipnoz {
  animation: gipnoz 1s steps(1) infinite;
}
@keyframes gipnoz {
  0% {
    background-position: 0 0;
  }
  5.56% {
    background-position: -50vw 0;
  }
  11.11% {
    background-position: -100vw 0;
  }
  16.67% {
    background-position: -150vw 0;
  }
  22.22% {
    background-position: -200vw 0;
  }
  27.78% {
    background-position: -250vw 0;
  }
  33.33% {
    background-position: -300vw 0;
  }
  38.89% {
    background-position: -350vw 0;
  }
  44.44% {
    background-position: -400vw 0;
  }
  50.00% {
    background-position: -450vw 0;
  }
  55.56% {
    background-position: -500vw 0;
  }
  61.11% {
    background-position: -550vw 0;
  }
  66.67% {
    background-position: -600vw 0;
  }
  72.22% {
    background-position: -650vw 0;
  }
  77.78% {
    background-position: -700vw 0;
  }
  83.33% {
    background-position: -750vw 0;
  }
  88.89% {
    background-position: -800vw 0;
  }
  94.44% {
    background-position: -850vw 0;
  }
  100% {
    background-position: -900vw 0;
  }
}
.gipnoz:hover {
  width: 50vw;
  height: 50vw;
  background-image: url('../images/gipnozhover.png');
  background-repeat: no-repeat;
  background-size: 900vw;
  animation: hoverAnimation 0.6s steps(1) infinite;
}
@keyframes hoverAnimation {
  0% {
    background-position: 0 0;
  }
  5.56% {
    background-position: -50vw 0;
  }
  11.11% {
    background-position: -100vw 0;
  }
  16.67% {
    background-position: -150vw 0;
  }
  22.22% {
    background-position: -200vw 0;
  }
  27.78% {
    background-position: -250vw 0;
  }
  33.33% {
    background-position: -300vw 0;
  }
  38.89% {
    background-position: -350vw 0;
  }
  44.44% {
    background-position: -400vw 0;
  }
  50.00% {
    background-position: -450vw 0;
  }
  55.56% {
    background-position: -500vw 0;
  }
  61.11% {
    background-position: -550vw 0;
  }
  66.67% {
    background-position: -600vw 0;
  }
  72.22% {
    background-position: -650vw 0;
  }
  77.78% {
    background-position: -700vw 0;
  }
  83.33% {
    background-position: -750vw 0;
  }
  88.89% {
    background-position: -800vw 0;
  }
  94.44% {
    background-position: -850vw 0;
  }
  100% {
    background-position: -900vw 0;
  }
}

/* обводка + текст */
.vodka1 {
  animation: bounce1 3s infinite ease-in-out;
}
@keyframes bounce1 {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(3vw, -1vw);
  }
  25% {
    transform: translate(5vw, -2vw);
  }
  37.5% {
    transform: translate(4vw, -7vw);
  }
  50% {
    transform: translate(-2vw, -13vw);
  }
  62.5% {
    transform: translate(-4vw, -12vw);
  }
  75% {
    transform: translate(-5vw, -10vw);
  }
  87.5% {
    transform: translate(-2vw, 6vw);
  }
  100% {
    transform: translate(3vw, 12vw);
  }
}
.vodka1:hover {
  animation: bounce1 1s infinite ease-in-out;
}

/* 4 блок  */
.pachki {
  animation: pachkianim 2s steps(1) infinite;
}

@keyframes pachkianim {
  0% {
    background-position: 0 0;
  }
  7.692% {
    background-position: -100vw 0;
  }
  15.384% {
    background-position: -200vw 0;
  }
  23.076% {
    background-position: -300vw 0;
  }
  30.768% {
    background-position: -400vw 0;
  }
  38.460% {
    background-position: -500vw 0;
  }
  46.152% {
    background-position: -600vw 0;
  }
  53.844% {
    background-position: -700vw 0;
  }
  61.536% {
    background-position: -800vw 0;
  }
  69.228% {
    background-position: -900vw 0;
  }
  76.920% {
    background-position: -1000vw 0;
  }
  84.612% {
    background-position: -1100vw 0;
  }
  92.304% {
    background-position: -1200vw 0;
  }
  100% {
    background-position: -1300vw 0;
  }
}
.pachki:hover {
  animation: none; /* Полностью останавливаем анимацию */
  background-position: 0 0; /* Возвращаемся к первому кадру */
  background-image: url('../images/pachkihover.png'); /* Сменяем изображение */
  background-size: 100vw 35.156vw; /* Устанавливаем размер в 1 кадр для hover */
}
/* 5 блок большой */
/* обводка + текст */
.vodka2 {
  animation: shake 1s ease-in-out infinite;
}
@keyframes shake {
  0% {
    transform: translate(0, 0); /* Исходная позиция */
  }
  10% {
    transform: translate(-1vw, 0); /* Смещение влево на 1% от ширины экрана */
  }
  20% {
    transform: translate(1vw, 0); /* Смещение вправо на 1% от ширины экрана */
  }
  30% {
    transform: translate(-1vw, 0); /* Смещение влево */
  }
  40% {
    transform: translate(1vw, 0); /* Смещение вправо */
  }
  50% {
    transform: translate(0, 0); /* Возврат в центр */
  }
  60% {
    transform: translate(
      0,
      -0.5vw
    ); /* Смещение вверх на 0.5% от ширины экрана */
  }
  70% {
    transform: translate(0, 0.5vw); /* Смещение вниз на 0.5% */
  }
  80% {
    transform: translate(0, -0.5vw); /* Смещение вверх */
  }
  90% {
    transform: translate(0, 0.5vw); /* Смещение вниз */
  }
  100% {
    transform: translate(0, 0); /* Возврат в исходную позицию */
  }
}
.chtochto {
  animation: chtochto 1s steps(1) infinite;
}
@keyframes chtochto {
  0% {
    background-position: 0 0;
  }
  2.7% {
    background-position: -50vw 0;
  }
  5.4% {
    background-position: -100vw 0;
  }
  8.1% {
    background-position: -150vw 0;
  }
  10.8% {
    background-position: -200vw 0;
  }
  13.5% {
    background-position: -250vw 0;
  }
  16.2% {
    background-position: -300vw 0;
  }
  18.9% {
    background-position: -350vw 0;
  }
  21.6% {
    background-position: -400vw 0;
  }
  24.3% {
    background-position: -450vw 0;
  }
  27% {
    background-position: -500vw 0;
  }
  29.7% {
    background-position: -550vw 0;
  }
  32.4% {
    background-position: -600vw 0;
  }
  35.1% {
    background-position: -650vw 0;
  }
  37.8% {
    background-position: -700vw 0;
  }
  40.5% {
    background-position: -750vw 0;
  }
  43.2% {
    background-position: -800vw 0;
  }
  45.9% {
    background-position: -850vw 0;
  }
  48.6% {
    background-position: -900vw 0;
  }
  51.3% {
    background-position: -950vw 0;
  }
  54% {
    background-position: -1000vw 0;
  }
  56.7% {
    background-position: -1050vw 0;
  }
  59.4% {
    background-position: -1100vw 0;
  }
  62.1% {
    background-position: -1150vw 0;
  }
  64.8% {
    background-position: -1200vw 0;
  }
  67.5% {
    background-position: -1250vw 0;
  }
  70.2% {
    background-position: -1300vw 0;
  }
  72.9% {
    background-position: -1350vw 0;
  }
  75.6% {
    background-position: -1400vw 0;
  }
  78.3% {
    background-position: -1450vw 0;
  }
  81% {
    background-position: -1500vw 0;
  }
  83.7% {
    background-position: -1550vw 0;
  }
  86.4% {
    background-position: -1600vw 0;
  }
  89.1% {
    background-position: -1650vw 0;
  }
  91.8% {
    background-position: -1700vw 0;
  }
  94.5% {
    background-position: -1750vw 0;
  }
  97.2% {
    background-position: -1800vw 0;
  }
  100% {
    background-position: -1850vw 0;
  }
}
.chtochto:hover {
  width: 50vw;
  height: 50vw;
  background-image: url('../images/tancyhover.png');
  background-repeat: no-repeat;
  background-size: 1850vw 50vw;
  animation: tancyhover 5s steps(1) infinite;
}
@keyframes tancyhover {
  0% {
    background-position: 0 0;
  }
  2.7% {
    background-position: -50vw 0;
  }
  5.4% {
    background-position: -100vw 0;
  }
  8.1% {
    background-position: -150vw 0;
  }
  10.8% {
    background-position: -200vw 0;
  }
  13.5% {
    background-position: -250vw 0;
  }
  16.2% {
    background-position: -300vw 0;
  }
  18.9% {
    background-position: -350vw 0;
  }
  21.6% {
    background-position: -400vw 0;
  }
  24.3% {
    background-position: -450vw 0;
  }
  27% {
    background-position: -500vw 0;
  }
  29.7% {
    background-position: -550vw 0;
  }
  32.4% {
    background-position: -600vw 0;
  }
  35.1% {
    background-position: -650vw 0;
  }
  37.8% {
    background-position: -700vw 0;
  }
  40.5% {
    background-position: -750vw 0;
  }
  43.2% {
    background-position: -800vw 0;
  }
  45.9% {
    background-position: -850vw 0;
  }
  48.6% {
    background-position: -900vw 0;
  }
  51.3% {
    background-position: -950vw 0;
  }
  54% {
    background-position: -1000vw 0;
  }
  56.7% {
    background-position: -1050vw 0;
  }
  59.4% {
    background-position: -1100vw 0;
  }
  62.1% {
    background-position: -1150vw 0;
  }
  64.8% {
    background-position: -1200vw 0;
  }
  67.5% {
    background-position: -1250vw 0;
  }
  70.2% {
    background-position: -1300vw 0;
  }
  72.9% {
    background-position: -1350vw 0;
  }
  75.6% {
    background-position: -1400vw 0;
  }
  78.3% {
    background-position: -1450vw 0;
  }
  81% {
    background-position: -1500vw 0;
  }
  83.7% {
    background-position: -1550vw 0;
  }
  86.4% {
    background-position: -1600vw 0;
  }
  89.1% {
    background-position: -1650vw 0;
  }
  91.8% {
    background-position: -1700vw 0;
  }
  94.5% {
    background-position: -1750vw 0;
  }
  97.2% {
    background-position: -1800vw 0;
  }
  100% {
    background-position: -1850vw 0;
  }
}
/* 6 box */
.bigbox6 {
  animation: animstrkwow 3s linear infinite;
}
@keyframes animstrkwow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wowstar1 {
  animation: wow1 2.3s linear infinite;
}
@keyframes wow1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wowstar2 {
  animation: wow2 3s linear infinite;
}
@keyframes wow2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.wowstar3 {
  animation: wow3 6s linear infinite;
}
@keyframes wow3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wowstar4 {
  animation: wow4 1.5s linear infinite;
}
@keyframes wow4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* 7 блок */
.sprite5 {
  animation: smena 0.5s steps(1) infinite;
}
@keyframes smena {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -60.156vw 0;
  }
  40% {
    background-position: -120.312vw 0;
  }
  60% {
    background-position: -180.468vw 0;
  }
  80% {
    background-position: -240.624vw 0;
  }
  100% {
    background-position: -300.78vw 0;
  }
}
.krug1 {
  animation: krug1anim 2s linear infinite;
}
@keyframes krug1anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.krug1:hover {
  animation: krug1animhov 6s linear infinite;
}
@keyframes krug1animhov {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.starfon {
  animation: starfonanim 10s linear infinite;
}
@keyframes starfonanim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.bukashkafon {
  animation: bukashkafonanim 2s linear infinite;
}
@keyframes bukashkafonanim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bukashkafon:hover {
  animation: bukhov 7s linear infinite;
}
@keyframes bukhov {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 8 блок большой */
/* обводка + текст */
.vodka3 {
  animation: zoomText 2s ease-in-out infinite;
}
@keyframes zoomText {
  0% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}
.balletgirl {
  animation: gogirl 3s steps(1) infinite;
}
@keyframes gogirl {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: -40.078vw 0;
  }
  10% {
    background-position: -80.156vw 0;
  }
  15% {
    background-position: -120.234vw 0;
  }
  20% {
    background-position: -160.312vw 0;
  }
  25% {
    background-position: -200.39vw 0;
  }
  30% {
    background-position: -240.468vw 0;
  }
  35% {
    background-position: -280.546vw 0;
  }
  40% {
    background-position: -320.624vw 0;
  }
  45% {
    background-position: -360.702vw 0;
  }
  50% {
    background-position: -400.78vw 0;
  }
  55% {
    background-position: -440.858vw 0;
  }
  60% {
    background-position: -480.936vw 0;
  }
  65% {
    background-position: -521.014vw 0;
  }
  70% {
    background-position: -561.092vw 0;
  }
  75% {
    background-position: -601.17vw 0;
  }
  80% {
    background-position: -641.248vw 0;
  }
  85% {
    background-position: -681.326vw 0;
  }
  90% {
    background-position: -721.404vw 0;
  }
  95% {
    background-position: -761.482vw 0;
  }
  100% {
    background-position: -801.563vw 0;
  }
}
.balletgirl:hover {
  width: 40.078vw;
  height: 39.063vw;
  background-image: url('../images/gogirlhover.png');
  background-repeat: no-repeat;
  background-size: 801.563vw 39.063vw;
  animation: hovergo 5s steps(1) infinite;
}

@keyframes hovergo {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: -40.078vw 0;
  }
  10% {
    background-position: -80.156vw 0;
  }
  15% {
    background-position: -120.234vw 0;
  }
  20% {
    background-position: -160.312vw 0;
  }
  25% {
    background-position: -200.39vw 0;
  }
  30% {
    background-position: -240.468vw 0;
  }
  35% {
    background-position: -280.546vw 0;
  }
  40% {
    background-position: -320.624vw 0;
  }
  45% {
    background-position: -360.702vw 0;
  }
  50% {
    background-position: -400.78vw 0;
  }
  55% {
    background-position: -440.858vw 0;
  }
  60% {
    background-position: -480.936vw 0;
  }
  65% {
    background-position: -521.014vw 0;
  }
  70% {
    background-position: -561.092vw 0;
  }
  75% {
    background-position: -601.17vw 0;
  }
  80% {
    background-position: -641.248vw 0;
  }
  85% {
    background-position: -681.326vw 0;
  }
  90% {
    background-position: -721.404vw 0;
  }
  95% {
    background-position: -761.482vw 0;
  }
  100% {
    background-position: -801.563vw 0;
  }
}
/* подвал */
.ura {
  animation: konets 3s linear infinite;
}
@keyframes konets {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
